* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  background-color: #F4F9F8;
}
.main--container .left--container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 260px;
  background-color: #F4F9F8;
  padding: 20px 10px;
}
.main--container .left--container .logo-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -45px;
  gap: 15px;
}
.main--container .left--container .logo-box h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #0768B5;
}
.main--container .left--container .menu-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.main--container .left--container .menu-box ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main--container .left--container .menu-box ul li:hover {
  color: #0768B5;
  background: rgba(47, 159, 248, 0.1);
  list-style-type: circle;
  transition: 0.3s;
}
.main--container .left--container .menu-box ul li:hover .hover-ul {
  list-style-type: circle;
  color: red;
  border: 1px solid;
}
.main--container .left--container .menu-box ul li:hover a {
  color: #0768B5;
  border: none;
  font-weight: 700;
  transition: 0.5s;
}
.main--container .left--container .menu-box ul li {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 1px solid #F4F9F8;
  padding: 10px 35px;
  border-radius: 0px 20px 20px 0px;
  align-items: center;
}
.main--container .left--container .menu-box ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #072D4B;
  border: 1px solid #F4F9F8;
  padding: 5px 20px;
}
.main--container .left--container .menu-box hr {
  width: 243px;
  background: #072D4B;
  opacity: 0.1;
  border: 1px solid #072D4B;
}
.main--container .left--container .subscribe-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 227px;
  height: 113px;
  background: #2F9FF8;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
.main--container .left--container .subscribe-box .premium {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.main--container .left--container .subscribe-box .upgrade {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.main--container .left--container .subscribe-box .upgrade button {
  color: white;
  width: 110px;
  height: 38px;
  background: #0768B5;
  border-radius: 4px;
  border: none;
}
.main--container .left--container .subscribe-box .upgrade span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.middle--container {
  display: flex;
  flex-direction: column;
  width: 771px;
  height: auto;
  background-color: #F4F9F8;
}
.middle--container .input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 10px;
}
.middle--container .input-box input {
  width: 495px;
  height: 46px;
  background-color: rgba(47, 159, 248, 0.04);
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: rgba(7, 45, 75, 0.3);
}
.middle--container .input-box input::-webkit-input-placeholder {
  color: rgba(7, 45, 75, 0.3);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.middle--container .input-box .fa-search {
  position: absolute;
  left: 1170px;
  cursor: pointer;
}
.middle--container .text-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 10px;
}
.middle--container .text-box h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #072D4B;
}
.middle--container .text-box ul {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.middle--container .text-box ul li {
  text-align: center;
  list-style-type: none;
  background-color: white;
  border: 1px solid;
  padding: 4px 16px;
  background: #FFFFFF;
  border: 0.2px solid #FFFFFF;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}
.middle--container .text-box ul li:last-child {
  background: none;
  border: none;
  box-shadow: none;
}
.middle--container .text-box ul li:hover {
  background-color: #2F9FF8;
  transition: 0.3s;
}
.middle--container .text-box ul li:hover a {
  transition: 0.3s;
  color: white;
}
.middle--container .text-box ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #072D4B;
}
.middle--container .middle-grid-container {
  display: grid;
  grid-template-areas: "header header header header" "left1 left1 right1 right1" "left2 left2 right2 right2" "left3 left3 right3 right3";
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.middle--container .middle-grid-container .grid-item1 {
  grid-area: header;
  width: 760px;
  height: 164px;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.middle--container .middle-grid-container .grid-item1 .grid-text-box {
  display: flex;
  flex-direction: column;
}
.middle--container .middle-grid-container .grid-item1 .grid-text-box h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
  color: #072D4B;
}
.middle--container .middle-grid-container .grid-item1 .grid-text-box p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #072D4B;
  padding: 5px 0;
  opacity: 0.6;
}
.middle--container .middle-grid-container .grid-item1 .grid-text-box .out-box {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
}
.middle--container .middle-grid-container .grid-item1 .grid-text-box .out-box .time-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle--container .middle-grid-container .grid-item1 .grid-text-box .out-box .time-box a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #072D4B;
  opacity: 0.4;
}
.middle--container .middle-grid-container .grid-item1 .grid-text-box .out-box .share-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle--container .middle-grid-container .grid-item1 .grid-text-box .out-box .share-box a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  color: #0768B5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.middle--container .middle-grid-container .grid-item2 {
  grid-area: left1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 376px;
  height: 191px;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 10px;
}
.middle--container .middle-grid-container .grid-item2 .grid-item-in {
  display: flex;
  flex-direction: row;
}
.middle--container .middle-grid-container .grid-item2 .out-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle--container .middle-grid-container .grid-item2 .out-box .time-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle--container .middle-grid-container .grid-item2 .out-box .time-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #072D4B;
  opacity: 0.4;
}
.middle--container .middle-grid-container .grid-item2 .out-box .share-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle--container .middle-grid-container .grid-item2 .out-box .share-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #0768B5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.middle--container .middle-grid-container .grid-item2 .grid-text-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.middle--container .middle-grid-container .grid-item2 .grid-text-box h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #072D4B;
}
.middle--container .middle-grid-container .grid-item2 .grid-text-box p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #072D4B;
  opacity: 0.6;
}
.middle--container .middle-grid-container .grid-item2 .grid-img-box {
  width: 154.14px;
  height: 132px;
  border-radius: 4px;
}
.middle--container .middle-grid-container .grid-item3 {
  grid-area: right1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 376px;
  height: 191px;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 10px;
}
.middle--container .middle-grid-container .grid-item3 .grid-item-in {
  display: flex;
  flex-direction: row;
}
.middle--container .middle-grid-container .grid-item3 .out-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle--container .middle-grid-container .grid-item3 .out-box .time-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle--container .middle-grid-container .grid-item3 .out-box .time-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #072D4B;
  opacity: 0.4;
}
.middle--container .middle-grid-container .grid-item3 .out-box .share-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle--container .middle-grid-container .grid-item3 .out-box .share-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #0768B5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.middle--container .middle-grid-container .grid-item3 .grid-text-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.middle--container .middle-grid-container .grid-item3 .grid-text-box h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #072D4B;
}
.middle--container .middle-grid-container .grid-item3 .grid-text-box p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #072D4B;
  opacity: 0.6;
}
.middle--container .middle-grid-container .grid-item3 .grid-img-box {
  width: 154.14px;
  height: 132px;
  border-radius: 4px;
}
.middle--container .middle-grid-container .grid-item4 {
  grid-area: left2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 376px;
  height: 191px;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 10px;
}
.middle--container .middle-grid-container .grid-item4 .grid-item-in {
  display: flex;
  flex-direction: row;
}
.middle--container .middle-grid-container .grid-item4 .out-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle--container .middle-grid-container .grid-item4 .out-box .time-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle--container .middle-grid-container .grid-item4 .out-box .time-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #072D4B;
  opacity: 0.4;
}
.middle--container .middle-grid-container .grid-item4 .out-box .share-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle--container .middle-grid-container .grid-item4 .out-box .share-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #0768B5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.middle--container .middle-grid-container .grid-item4 .grid-text-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.middle--container .middle-grid-container .grid-item4 .grid-text-box h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #072D4B;
}
.middle--container .middle-grid-container .grid-item4 .grid-text-box p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #072D4B;
  opacity: 0.6;
}
.middle--container .middle-grid-container .grid-item4 .grid-img-box {
  width: 154.14px;
  height: 132px;
  border-radius: 4px;
}
.middle--container .middle-grid-container .grid-item5 {
  grid-area: right2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 376px;
  height: 191px;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 10px;
}
.middle--container .middle-grid-container .grid-item5 .grid-item-in {
  display: flex;
  flex-direction: row;
}
.middle--container .middle-grid-container .grid-item5 .out-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle--container .middle-grid-container .grid-item5 .out-box .time-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle--container .middle-grid-container .grid-item5 .out-box .time-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #072D4B;
  opacity: 0.4;
}
.middle--container .middle-grid-container .grid-item5 .out-box .share-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle--container .middle-grid-container .grid-item5 .out-box .share-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #0768B5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.middle--container .middle-grid-container .grid-item5 .grid-text-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.middle--container .middle-grid-container .grid-item5 .grid-text-box h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #072D4B;
}
.middle--container .middle-grid-container .grid-item5 .grid-text-box p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #072D4B;
  opacity: 0.6;
}
.middle--container .middle-grid-container .grid-item5 .grid-img-box {
  width: 154.14px;
  height: 132px;
  border-radius: 4px;
}
.middle--container .middle-grid-container .grid-item6 {
  grid-area: left3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 376px;
  height: 191px;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 10px;
}
.middle--container .middle-grid-container .grid-item6 .grid-item-in {
  display: flex;
  flex-direction: row;
}
.middle--container .middle-grid-container .grid-item6 .out-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle--container .middle-grid-container .grid-item6 .out-box .time-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle--container .middle-grid-container .grid-item6 .out-box .time-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #072D4B;
  opacity: 0.4;
}
.middle--container .middle-grid-container .grid-item6 .out-box .share-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle--container .middle-grid-container .grid-item6 .out-box .share-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #0768B5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.middle--container .middle-grid-container .grid-item6 .grid-text-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.middle--container .middle-grid-container .grid-item6 .grid-text-box h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #072D4B;
}
.middle--container .middle-grid-container .grid-item6 .grid-text-box p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #072D4B;
  opacity: 0.6;
}
.middle--container .middle-grid-container .grid-item6 .grid-img-box {
  width: 154.14px;
  height: 132px;
  border-radius: 4px;
}
.middle--container .middle-grid-container .grid-item7 {
  grid-area: right3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 376px;
  height: 191px;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 10px;
}
.middle--container .middle-grid-container .grid-item7 .grid-item-in {
  display: flex;
  flex-direction: row;
}
.middle--container .middle-grid-container .grid-item7 .out-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle--container .middle-grid-container .grid-item7 .out-box .time-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle--container .middle-grid-container .grid-item7 .out-box .time-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #072D4B;
  opacity: 0.4;
}
.middle--container .middle-grid-container .grid-item7 .out-box .share-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle--container .middle-grid-container .grid-item7 .out-box .share-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #0768B5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.middle--container .middle-grid-container .grid-item7 .grid-text-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.middle--container .middle-grid-container .grid-item7 .grid-text-box h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #072D4B;
}
.middle--container .middle-grid-container .grid-item7 .grid-text-box p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #072D4B;
  opacity: 0.6;
}
.middle--container .middle-grid-container .grid-item7 .grid-img-box {
  width: 154.14px;
  height: 132px;
  border-radius: 4px;
}
.middle--container .creators-box {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-top: 20px;
  gap: 20px;
  justify-content: flex-start;
}
.middle--container .creators-box .title-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 470px;
}
.middle--container .creators-box .title-box span {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: space-between;
}
.middle--container .creators-box .title-box span .xira {
  opacity: 0.3;
}
.middle--container .creators-box .title-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #072D4B;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.middle--container .creators-box .title-box a i {
  font-size: 20px;
}
.middle--container .creators-box .person-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}
.middle--container .creators-box .person-box .img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 142px;
  height: 185px;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.middle--container .creators-box .person-box .img-box h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #072D4B;
}
.middle--container .creators-box .person-box .img-box p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #072D4B;
  opacity: 0.4;
}
.middle--container .creators-box .person-box .img-box button {
  margin-top: 5px;
  border: none;
  background: #2F9FF8;
  border-radius: 4px;
  width: 116.39px;
  height: 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
}

.middle-grid-container-footer {
  display: grid;
  grid-template-areas: "left1 left1 right1 right1" "left2 left2 right2 right2";
  justify-content: center;
  gap: 15px;
}
.middle-grid-container-footer .grid-item1 {
  grid-area: left1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 376px;
  height: 191px;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 10px;
}
.middle-grid-container-footer .grid-item1 .grid-item-in {
  display: flex;
  flex-direction: row;
}
.middle-grid-container-footer .grid-item1 .out-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle-grid-container-footer .grid-item1 .out-box .time-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle-grid-container-footer .grid-item1 .out-box .time-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #072D4B;
  opacity: 0.4;
}
.middle-grid-container-footer .grid-item1 .out-box .share-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle-grid-container-footer .grid-item1 .out-box .share-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #0768B5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.middle-grid-container-footer .grid-item1 .grid-text-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.middle-grid-container-footer .grid-item1 .grid-text-box h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #072D4B;
}
.middle-grid-container-footer .grid-item1 .grid-text-box p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #072D4B;
  opacity: 0.6;
}
.middle-grid-container-footer .grid-item1 .grid-img-box {
  width: 154.14px;
  height: 132px;
  border-radius: 4px;
}
.middle-grid-container-footer .grid-item2 {
  grid-area: right1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 376px;
  height: 191px;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 10px;
}
.middle-grid-container-footer .grid-item2 .grid-item-in {
  display: flex;
  flex-direction: row;
}
.middle-grid-container-footer .grid-item2 .out-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle-grid-container-footer .grid-item2 .out-box .time-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle-grid-container-footer .grid-item2 .out-box .time-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #072D4B;
  opacity: 0.4;
}
.middle-grid-container-footer .grid-item2 .out-box .share-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle-grid-container-footer .grid-item2 .out-box .share-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #0768B5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.middle-grid-container-footer .grid-item2 .grid-text-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.middle-grid-container-footer .grid-item2 .grid-text-box h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #072D4B;
}
.middle-grid-container-footer .grid-item2 .grid-text-box p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #072D4B;
  opacity: 0.6;
}
.middle-grid-container-footer .grid-item2 .grid-img-box {
  width: 154.14px;
  height: 132px;
  border-radius: 4px;
}
.middle-grid-container-footer .grid-item3 {
  grid-area: left2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 376px;
  height: 191px;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 10px;
}
.middle-grid-container-footer .grid-item3 .grid-item-in {
  display: flex;
  flex-direction: row;
}
.middle-grid-container-footer .grid-item3 .out-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle-grid-container-footer .grid-item3 .out-box .time-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle-grid-container-footer .grid-item3 .out-box .time-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #072D4B;
  opacity: 0.4;
}
.middle-grid-container-footer .grid-item3 .out-box .share-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle-grid-container-footer .grid-item3 .out-box .share-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #0768B5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.middle-grid-container-footer .grid-item3 .grid-text-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.middle-grid-container-footer .grid-item3 .grid-text-box h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #072D4B;
}
.middle-grid-container-footer .grid-item3 .grid-text-box p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #072D4B;
  opacity: 0.6;
}
.middle-grid-container-footer .grid-item3 .grid-img-box {
  width: 154.14px;
  height: 132px;
  border-radius: 4px;
}
.middle-grid-container-footer .grid-item4 {
  grid-area: right2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 376px;
  height: 191px;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 10px;
}
.middle-grid-container-footer .grid-item4 .grid-item-in {
  display: flex;
  flex-direction: row;
}
.middle-grid-container-footer .grid-item4 .out-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle-grid-container-footer .grid-item4 .out-box .time-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle-grid-container-footer .grid-item4 .out-box .time-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #072D4B;
  opacity: 0.4;
}
.middle-grid-container-footer .grid-item4 .out-box .share-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.middle-grid-container-footer .grid-item4 .out-box .share-box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #0768B5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.middle-grid-container-footer .grid-item4 .grid-text-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.middle-grid-container-footer .grid-item4 .grid-text-box h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #072D4B;
}
.middle-grid-container-footer .grid-item4 .grid-text-box p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #072D4B;
  opacity: 0.6;
}
.middle-grid-container-footer .grid-item4 .grid-img-box {
  width: 154.14px;
  height: 132px;
  border-radius: 4px;
}

.show-more-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.show-more-box button {
  cursor: pointer;
  margin-top: 30px;
  border: none;
  width: 118px;
  height: 38px;
  border: 0.2px solid #072D4B;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  color: #072D4B;
}
.show-more-box button:hover {
  border: 1px solid grey;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
}
.footer p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #072D4B;
  opacity: 0.4;
}
.footer .privacy-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer .privacy-box p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #072D4B;
  opacity: 0.4;
}/*# sourceMappingURL=style.css.map */